<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thirsty Goat Login</title>
    <script src="https://cdn.auth0.com/js/lock/10.3/lock.min.js" rel="stylesheet"></script>
  </head>
  <body>
    <div id="root" style="width: 280px; margin: 40px auto; padding: 10px;"></div>
    <script>
      var lock = new Auth0Lock('M5xQRh1qxNyvAEvGtKkPPjvsTppsePhm', 'myoberon.auth0.com', { 
        auth: {
            redirectUrl: '{{callback}}',
            responseType: 'code'},
        closable: false,
        languageDictionary: {title: "Thirsty Goat"},
        params: {scope: 'openid name email picture'},
        allowSignUp: false 
        
      });
      lock.show();
    </script>
  </body>
  
</html>

  
